html {
    height: 100%;
    width: 100%;
}
  
body {
    background-color: #efe3ce;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu-bar li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-bar li a:hover {
    border-bottom: 3px solid rgb(106, 149, 98);
}
  
.active {
    border-bottom: 3px solid rgb(59, 110, 50);
}

.grid-container-body {
    display: grid;
    grid-template-areas:
       "header"
       "sidebar"
       "main"
       "footer";
    row-gap: 10px;
    padding: 20px;
}

.header {
    grid-area: header;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    background-color: firebrick;
}

.footer {
    grid-area: footer;
    background-color: rgb(154, 241, 241);
}

@media (min-width: 768px){
    .grid-container-body {
        display: grid;
        grid-template-areas:
           "header sidebar sidebar"
           "main main main"
           "footer footer footer";
        row-gap: 10px;
        padding: 20px;
    }
    body{
        font-size: 20px;
    }
    .header{
        font-size: 2em;
        margin-right: 0;
    }
    .menu-bar li a {
        float: left;
    }
}

.topimg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}