html {
    height: 100%;
    width: 100%;
}
  
body {
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8498b8;
    top: 0;
}
  
.menu-bar li {
    float: left;
}
  
.menu-bar li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #627da7;
    color: white;
}
  
.active {
    background-color: #536f9d;
}

.grid-container-body {
    display: grid;
    grid-template-areas:
       "header"
       "main"
       "sidebar"
       "footer";
    gap: 10px;
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: rgb(241, 213, 154);
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: coral;
}

.main {
    grid-area: main;
    background-color: firebrick;
}

.footer {
    grid-area: footer;
    background-color: rgb(154, 241, 241);
}

@media (min-width: 768px){
    .grid-container-body {
        display: grid;
        grid-template-areas:
           "header header header"
           "sidebar main main"
           "footer footer footer";
        gap: 10px;
        padding: 20px;
    }
    body{
        font-size: 20px;
    }
}

@media (min-width: 1024px){
    body{
        font-size: 24px;
    }
    .grid-container-body {
        display: grid;
        grid-template-areas:
           "header header sidebar"
           " main main main"
           "footer footer footer";
        gap: 10px;
        padding: 20px;
    }
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}