html {
    height: 100%;
    width: 100%;
}
  
body {
    background-color: #e0d6c5;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu-bar li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-bar li a:hover {
    border-bottom: 3px solid rgb(106, 149, 98);
}
  
.active {
    border-bottom: 3px solid rgb(59, 110, 50);
}

.grid-container-body {
    display: grid;
    grid-template-areas:
       "header"
       "sidebar"
       "main"
       "footer";
    row-gap: 10px;
    padding: 20px;
}

.header {
    grid-area: header;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 3em;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: rgb(59, 110, 50);
    text-align: center;
    padding: 10px;
    font-size: small;
}


@media (min-width: 768px){
    .grid-container-body {
        display: grid;
        grid-template-areas:
           "header sidebar sidebar"
           "main main main"
           "footer footer footer";
        row-gap: 10px;
        padding: 20px;
    }
    body{
        font-size: 20px;
    }
    .header{
        font-size: 2em;
        display: block;
    }
    .menu-bar li a {
        float: left;
    }
}

.image-container {
    position: relative; 
    max-width: 100%; 
    height: auto; 
}

.image-container img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: auto;
    border-radius: 12px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    width: 300px;
    padding: 20px;
    
}

.countdown-container {
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    width: 250px; /* Fixed width, but you can make it responsive with media queries */
}
.card img{
    max-width: 100%;
}

.button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #3f7444;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: #000000;
}

.drop-zone {
    max-width: 500px;
    height: 200px;
    padding: 25px;
    border: 4px dashed #009578;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.drop-zone.is-dragover {
    background-color: #ececec;
}

.thank-you-message {
    display: none;
    color: green;
    font-size: 18px;
    margin-top: 10px;
}

h4 {
    text-align: center;
}